:root {
    --cor-azul-forte: #0a3871;
    --cor-azul-back: #f3f5fc;
    --cor-branco: #FFFFFF;
}

body {
    height: 100vh;
    background-color: var(--cor-azul-back);
    color: #0a3871;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.left-section {}

.botoes {
    display: flex;
    justify-content: space-between;

}

#criptografar {
    border: none;
    border-radius: 24px;
    background-color: var(--cor-azul-forte);
    color: var(--cor-branco);
    padding: 24px 60px;

}

#descriptografar {
    border-color: #0a3871;
    border-radius: 24px;
    background-color: var(--cor-branco);
    color: var(--cor-azul-forte);
    padding: 24px 60px;

}

.right-section {
    background-color: #e90d0d;
    border-radius: 32px;
    align-items: center;
}


input {
    border: none;
    outline: none;
}

#texto {
    background-color: transparent;
}

/* Estilo específico para a caixa de texto de entrada */
/* #texto { */
/* width: 40%; */
/* Largura desejada (40% da área central) */

/* padding: 10px; */
/* Adicione preenchimento conforme necessário */

/* font-family: 'Inter', sans-serif; */
/* Sua fonte desejada */

/* font-size: 16px; */
/* Tamanho da fonte desejado */

/* color: #0a3871; */
/* Cor do texto (azul no caso) */

/*  */
/* Fundo transparente para remover bordas */
/* } */