:root {
    --cor-azul-forte: #0a3871;
    --cor-azul-back: #f3f5fc;
    --cor-branco: #FFFFFF;
    --cor-cinza: #d8dfe8;
}

body {
    height: 90vh;
    background-color: var(--cor-azul-back);
    color: #0a3871;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    margin: 0px;
}

.logo-topo {
    margin-top: 40px;
    margin-left: 40px;
}

.corpo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5%;
    gap: 10px;
}

.left-section {
    margin-left: 100px;
}

.aviso {
    font-size: 12px;
    color: #343a40;
    font-weight: 400;
    margin-bottom: 5px;
}

.aviso img.alert-icon {
    vertical-align: middle;
    margin-right: 5px;
}

.botoes__ {
    width: 100%;
    justify-content: flex-start;
    display: flex;
    gap: 10px;
}

.common-button {
    border-radius: 24px;
    height: 60px;
    width: 45vh;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);

}

.common-button:hover {
    box-shadow: inset 0 0 10px rgb(140, 129, 236);
}

#criptografar {
    border: none;
    background-color: var(--cor-azul-forte);
    color: var(--cor-branco);
}

#descriptografar {
    background-color: var(--cor-cinza);
    color: var(--cor-azul-forte);
    border: 1px solid #0a3871;
}

.right-section {
    background-color: var(--cor-branco);
    border-radius: 32px;
    height: 80vh;
    width: 400px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin-right: 2vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-looking {
    width: 65%;
    margin-top: 20%;
    display: block;
}

#copiar {
    background-color: var(--cor-cinza);
    color: var(--cor-azul-forte);
    border: 1px solid #0a3871;
    width: 100%;
    display: none;

}

h1 {
    color: #343a40;
    font-weight: 700;
    display: block;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    color: #343a40;
    display: block;
}

#texto {
    background-color: transparent;
    color: var(--cor-azul-forte);
    font-weight: 400;
    height: 70vh;
    width: 55vw;
    overflow: hidden;
    word-wrap: break-word;
    border: none;
    outline: none;
    resize: none;
    font-size: 32px;
}

#texto::placeholder {
    color: var(--cor-azul-forte);
    font-weight: 400;
    font-size: 32px;

}

#resultado {
    background-color: transparent;
    color: var(--cor-azul-forte);
    font-weight: 400;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    word-wrap: break-word;
    border: none;
    outline: none;
    resize: none;
    font-size: 20px;
    display: none;
}

footer {
    text-align: center;
    background-color: var(--cor-azul-forte);
    margin-top: 15px;
    color: var(--cor-branco);
    align-items: center;
    padding: 2px;
}

footer img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

footer a {
    color: var(--cor-branco);
    text-decoration: none;
}

/* Tamanho para Tablets */

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .corpo {
        margin-left: 5%;
    }

    .logo-topo {
        margin-bottom: 10%;
    }

    .left-section {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .right-section {
        width: 90%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        height: auto;
    }

    #texto {
        width: 100%;
        /* Ocupa a largura total */
        height: 40vh;
    }

    .botoes__ {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .common-button {
        width: 100%;
        height: 8vh;
        /* Ocupa a largura total */
        margin-left: auto;
        margin-right: auto;

    }

    .corpo {
        flex-direction: column;
        margin-left: 10px;
    }

    .img-looking {
        display: none;
        /* Esconde a imagem "looking" */
    }

    #resultado {
        background-color: transparent;
        color: var(--cor-azul-forte);
        font-weight: 400;
        height: 100%;
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        border: none;
        outline: none;
        resize: none;
        font-size: 20px;
        display: none;
        margin-bottom: 20px;
    }
}


/*Tamanho para celulares */

@media only screen and (max-width: 600px) {
    .corpo {
        flex-direction: column;
        margin-left: 10px;
    }

    .logo-topo {
        margin-bottom: 10%;
    }


    .left-section {
        width: 95%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .right-section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    #texto {
        width: 100%;
        /* Ocupa a largura total */
        height: 40vh;
    }

    .botoes__ {
        width: 100%;
        margin-top: 0;
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    .common-button {
        width: 100%;
        /* Ocupa a largura total */
    }

    .img-looking {
        display: none;
        /* Esconde a imagem "looking" */
    }

    #resultado {
        background-color: transparent;
        color: var(--cor-azul-forte);
        font-weight: 400;
        height: 100%;
        width: 100%;
        overflow: hidden;
        word-wrap: break-word;
        border: none;
        outline: none;
        resize: none;
        font-size: 20px;
        display: none;
        margin-bottom: 20px;
    }
}